html, body {
    margin: 0;
    overflow: hidden;
    padding: 0;
    background-color: bisque;
}

#end-screen {
    background-color: lightblue;
    position: absolute;
    display: none;
    top: 150px;
    left: 650px;
    padding-right: 5%;
}